absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
asdf==2.9.1
asdf-astropy==0.1.2
asdf-coordinates-schemas==0.1.0
asdf-transform-schemas==0.2.0
asdf-wcs-schemas==0.1.1
asgiref==3.4.1
astrocut==0.9
astroid==2.9.3
astropy==5.0.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.5.5
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.12b0
bleach==4.1.0
branca==0.4.2
Brlapi==0.8.3
Brotli==1.0.9
cachetools==4.2.4
camelot-py==0.10.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==2.0.0
cmdstanpy==0.9.68
convertdate==2.3.2
crashtest==0.3.1
cryptography==36.0.1
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.26
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.12.0
dbus-python==1.2.18
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.6.0
distro-info==1.1
Django==4.0.1
docopt==0.6.2
entrypoints==0.3
ephem==4.1.3
et-xmlfile==1.1.0
executing==0.8.2
Fiona==1.8.20
flake8==3.8.4
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==2.0
folium==0.12.1.post1
fonttools==4.28.5
frozenlist==1.2.0
fsspec==2022.1.0
gast==0.4.0
geographiclib==1.52
geojson==2.5.0
geopandas==0.10.2
geopy==2.2.0
ghostscript==0.7
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg===1.16.0-unknown
greenlet==1.1.2
grpcio==1.43.0
gspread==5.1.1
gwcs==0.18.0
h5py==3.6.0
hijri-converter==2.2.2
holidays==0.12
html5lib==1.1
httplib2==0.20.2
httpstan==4.6.1
idna==3.2
imageio==2.13.5
importlib-metadata==4.10.0
iniconfig==1.1.1
ipykernel==6.7.0
ipython==8.0.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.1.1
jupyter-core==4.9.1
jupyter-server==1.13.3
jupyterlab==3.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kaleido==0.2.1
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.7.1
libclang==12.0.0
locket==0.2.1
louis==3.19.0
LunarCalendar==0.0.9
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==5.2.0
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.7
numpy==1.22.0
oauth2client==4.1.3
oauthlib==3.1.1
opencv-python==4.5.5.62
openpyxl==3.0.9
opt-einsum==3.3.0
overpass==0.7
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.7.1
partd==1.2.0
pastel==0.2.1
pathlib==1.0.1
pathspec==0.9.0
patsy==0.5.2
pdf2image==1.16.0
pdfminer.six==20211012
pdftopng==0.2.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==2.4.1
plotly==5.5.0
pluggy==1.0.0
pocket==0.3.6
prometheus-client==0.12.0
prompt-toolkit==3.0.24
prophet==1.0.1
protobuf==3.19.3
ptyprocess==0.7.0
pure-eval==0.2.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.6.0
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydocstyle==6.1.1
pyerfa==2.0.0.1
pyfiglet==0.8.post1
pyflakes==2.2.0
Pygments==2.7.1
PyGObject==3.42.0
pylev==1.4.0
pylint==2.12.2
PyMeeus==0.5.11
PyMuPDF==1.19.5
pynvim==0.4.2
pyparsing==3.0.6
PyPDF2==1.26.0
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-sip==12.9.0
pyrsistent==0.18.1
pysimdjson==3.2.0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
pystan==2.19.1.1
pytest==6.2.5
python-apt==2.3.0+b1
python-dateutil==2.8.2
python-debian==0.1.43
python-debianbts==3.2.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.3
PyWavelets==1.2.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
rainbowstream==1.5.5
rawpy==0.17.0
remarkable==1.87
reportbug==11.3.0
requests==2.25.1
requests-oauthlib==1.3.0
rope==0.22.0
rsa==4.8
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
scour==0.38.2
seaborn==0.11.2
semantic-version==2.9.0
Send2Trash==1.8.0
setuptools-git==1.2
Shapely==1.8.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.1.4
statsmodels==0.13.1
sympy==1.9
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
twitter==1.19.3
typing_extensions==4.0.1
ujson==5.1.0
unattended-upgrades==0.1
urllib3==1.26.5
wcwidth==0.2.5
webargs==8.1.0
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xdg==5
yapf==0.32.0
yarg==0.1.9
yarl==1.7.2
youtube-dl==2021.12.17
zipp==3.7.0
